<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>import { initializeApp } from "https://www.gstatic.com/firebasejs/10.3.0/firebase-app.js";</script>
  <script>import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.3.0/firebase-analytics.js";</script>
</head>
<body>
<!-- confirm.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Confirmation Page</title>
</head>
<body>
    <h1>Confirmation Page</h1>
    <p>Customer Name: <%= customerData.name %></p>
    <p>Customer Phone: <%= customerData.Phone %></p>
    <p>Pickup point : <%= customerData.from %></p>
    <p>Drop point : <%= customerData.to %></p>
    
    <!-- Other customer data fields here -->
</body>
</html>

  <script> 
  var id = "<%=id%>"
  localStorage.setItem("id",id)  
    </script>
    

</body>
</html>
