<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmation Page</title>
  <script>import { initializeApp } from "https://www.gstatic.com/firebasejs/10.3.0/firebase-app.js";</script>
  <script>import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.3.0/firebase-analytics.js";</script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <!-- confirm.ejs -->
  <!DOCTYPE html>
  <html>

  <head>
   
  </head>

  <body>


    <!-- Other customer data fields here -->
    <div class="container pt-3" style="padding-left: 0%;padding-right: 0%;">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> -->
            <a class="navbar-brand" href="#">Taxi go</a>
          </div>

        </div>
      </nav>
      <h1>Confirmation Page</h1>
      
      <div class="card" style="width:500px; border: 10px; padding-left: 30px;">

        <div class="card-img-overlay">
          <div class="container-sm border">
            <p>Customer Name: <%= customerData.name %>
            </p>
          </div>
          <div class="container-sm border">
            <p>Customer Phone: <%= customerData.Phone %>
            </p>
          </div>
          <div class="container-sm border">
            <p>Pickup point : <%= customerData.from %>
            </p>
          </div>
          <div class="container-sm border">
            <p>Drop point : <%= customerData.to %>
            </p>
          </div>
          <div class="container-sm border">
            <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
          </div>
        </div>



        <form action="/startForm">
          <button type="submit">Arrived at customer location</button>
        </form>
      </div>
    </div>  
  </body>

  </html>

  <script>
    var id = "<%=id%>"
    localStorage.setItem("id", id)  
  </script>


</body>

</html>