<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estimation</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container " style="padding-left: 0%;padding-right: 0%;">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> -->
            <a class="navbar-brand" style="color: white;" href="#">Taxi go</a>
          </div>

        </div>
      </nav>
    </div>  
    <div class="container mt-5" >
  
        <h1 class="text-center" style="margin-top: 0%;">Estimated Invoice</h1>
        <hr style="border-color: black; border-width:2px;">
		<div style="margin-left: 5px; margin-bottom: 0%;">
           <p>From:</p>
		   <p style="font-weight: bolder; font-size: larger;"> <%= jsonData.from %></p>
		   <p>To:</p>
		   <p style="font-weight: bolder; font-size: larger;"><%= jsonData.to %></p>
		</div>
        <hr style="border-color: black; border-width:2px;">

        <table class="table table-bordered">
			<thead>
			  <!-- <tr>
				<th scope="col">#</th>
				<th scope="col">First</th>
				<th scope="col">Last</th>
				<th scope="col">Handle</th>
			  </tr> -->
			</thead>
			<tbody>
			  <tr>
				
				<td>Start Odometer</td>
				
				<td><%= jsonData.start %> Kms</td>
			  </tr>
			  <tr>
				
				<td>Fare per Km</td>
				
				<td>Rs: <%= jsonData.ratePerKm %></td>
			  </tr>
			  
			  <tr>
				
				<td >Estimated Distance</td>
				
				<td><%= jsonData.estimatedDistance %> kms</td>
			  </tr>
        <tr>
				
          <td >Estimated Travel Time</td>
          
          <td><%= jsonData.estimatedTime %> </td>
         </tr>
         <tr>
				
          <td >Estimated Amount</td>
          
          <td>Rs.<%= jsonData.estimatedAmount %> </td>
          </tr>
			
			</tbody>
		  </table>
  </div>
</div>
</div>   
<div class="container-sm border text-center " >
  <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  <button style="background-color: black; color: white; padding: 2px;" id="getLocation" onclick="getLocation()"  >Navigate to the location</button>
   <p></p>
  <form action="/endForm">
<button style="background-color: black; color: white;margin-top: 10px;" type="submit">Arrived at customer location</button>
</form>
</div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- Your JavaScript Code -->
    <script>
      function getMap(latitude,longitude,destinationLatitude,destinationLongitude){
          window.location.href = `https://www.google.com/maps/dir/?api=1&origin=${latitude},${longitude}&destination=${destinationLatitude},${destinationLongitude}`;
      };
      
    function getLocation() {
      // <%=console.log(customerData?.fromLoc._latitude) %>
      const custLocation= JSON.parse(`{"latitude":<%=customerData?.fromLoc._latitude%>,"longitude":<%=customerData?.fromLoc._longitude%>}`);
      console.log(custLocation);
            if ("geolocation" in navigator) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    const latitude = position.coords.latitude;
                    const longitude = position.coords.longitude;
                    const locationText = `Latitude: ${latitude}, Longitude: ${longitude}`;
                    const destinationLatitude = custLocation.latitude; // Replace with your destination latitude
                    const destinationLongitude = custLocation.longitude; // Replace with your destination longitude
                    //document.getElementById("location").textContent = locationText;
                    document.getElementById("getLocation").addEventListener("click", function() {
                        getMap(latitude, longitude,destinationLatitude,destinationLongitude);
                    });
                  // buffer.innerHTML = "latitude :"+latitude+"<br>"+"longitude"+longitude;
                });
            } else {
                document.getElementById("location").textContent = "Geolocation is not available in this browser.";
            }
        }
    </script>

</body>
</html>
